

<div class="container">
<% @students.each do |student| %>
  <div class="container mt-1">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-2 text-center">
                <div class="row">
                    <div class="col-md-7 border-right no-gutters">
                    <br>
                        <div class="py-3"><img src="https://source.unsplash.com/200x200/?user" width="100" class="rounded-circle">
                            <br>
                            <h4 class="text-secondary"><%= link_to student.name, student_path(student)%></h4>
                             
                           
                          
                            
                            <br>
                            <div class="stats">
                                <table class="table table-borderless">
                                    <tbody>
                                      
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">Roll no.</span> <span class="text-left bottom"><%= student.roll_no %></span> </div>
                                            </td>
                                            <td>    
                                                <div class="d-flex flex-column"> <span class="text-left head">DOB</span> <span class="text-left bottom"><%= student.date_of_birth %></span> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">State</span> <span class="text-left bottom"><%= student.state %></span> </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">City</span> <span class="text-left bottom"><%= student.city %></span> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-5 text-left">
                        <div class="py-3">
                            <div> <span class="d-block head">Email</span> <span class="bottom"><%= student.email %></span> </div>
                            <div class="mt-4"> <span class="d-block head">Father name</span> <span class="bottom"><%= student.father_name %></span> </div>
                            <div class="mt-4"> <span class="d-block head">Father occupation</span> <span class="bottom"><%= student.father_occupation%></span> </div>
                            <div class="mt-4"> <span class="d-block head">Mother name</span> <span class="bottom"><%= student.mother_name %></span> </div>
                            <div class="mt-4"> <span class="d-block head">Mother occupation</span> <span class="bottom"><%= student.mother_occupation %></span> </div>
                            <div class="mt-4"> <span class="d-block head">Course</span> <span class="bottom"><%= student.course_id%></span> </div>

                            </div>
                        <div class="mb-2">
                        <%= link_to "View", student_path(student), class: "btn btn-outline-success " %>
                        <% if logged_in? && current_user.admin? %>  
                        <%= link_to "Edit", edit_student_path(student), class: "btn btn-outline-info" %>
                        <%= link_to "Delete", student_path(student),method: :delete,data:{confirm: "Are you sure?"},class: "btn btn-outline-danger"%>
                       </div>
                        <% end %>
                        </div>
  
                    </div>
                    <div class="card-footer text-muted ">
                    <small>Created <%= time_ago_in_words(student.created_at) %>ago,
                    edited <%= time_ago_in_words(student.updated_at) %>ego</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
<% end %>
</div>


