<p id="notice"><%= notice %></p>

<p>
  <strong>Roll no:</strong>
  <%= @student.roll_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @student.contact %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>Father occupation:</strong>
  <%= @student.father_occupation %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @student.mother_name %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @student.mother_occupation %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course_id %>
</p>

<p>
  <strong>Teacher_id:</strong>
  <%= @student.teacher_id%>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
